<h1>Your weather!</h1>
It is <%= @weather_lookup.temperature %> degrees in SLC, UT!
<%= image_tag @weather_lookup.icon %>

<h3>Check your weather!</h3>
<%= form_tag(root_path) do %>
  <%= text_field_tag :zip, "", placeholder: "enter zip" %>
  <%= submit_tag "Find!" %>
<% end %>

